extends layout.pug
block content 
  form(action='/create' method='POST')
    h3 Create todo
    .input-field
      input(type='text' name='title')
      label Todo title
    input(type='submit' value='Create' class='btn')