extends layout.pug
block content 
  h1 Todos Page
  ul
    each todo in todos
      li.todo
        label
          input(type='checkbox')
          span= todo.title
          button(class='btn btn-small') Save
    else
      p There are no todos