doctype html
html
  //- include includes/head.pug
  head
    title= title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")

  body
    .container
      block content